name: pages build and deployment

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/web
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          # para evitar el error "Dependencies lock file is not found", NO uses cache si no hay lock
          # cache: 'npm'
          # cache-dependency-path: apps/web/package-lock.json

      - name: Install deps (ci if lock, else i)
        run: |
          if [ -f package-lock.json ]; then npm ci; else npm i; fi

      - name: Build for GH Pages
        run: npm run build:gh

      - name: Prepare 404 and .nojekyll
        working-directory: .
        run: |
          export BUILD_OUTDIR=apps/web/dist
          node scripts/prepare-pages.cjs

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: apps/web/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v4
